<template>
<div
    :class="[
        'hx-input',
        size ? 'hx-input--' + size : '',
        props.prefixIcon ? 'hx-input--prefix' : '',
        props.suffixIcon ? 'hx-input--suffix' : '',
    ]"
>
    <input
        class="hx-input__inner"
        :type="props.type"
        :disabled="props.disabled"
        :readonly = "props.readonly"
        @input="handleInput"
        ref="inputRef"
    />

    <span class="hx-input__prefix" v-if="props.prefixIcon">
        <i :class="['hx-input__icon', prefixIcon]"></i>
    </span>
</div>
</template>

<script setup>
import {
    defineProps, ref, defineEmits, onMounted, computed, watchEffect,
} from 'vue';
// eslint-disable-next-line import/no-unresolved
import './input.scss';

const props = defineProps({
    size: Number,
    type: {
        type: String,
        default: 'text',
    },
    disabled: {
        type: Boolean,
        default: false,
    },
    readonly: {
        type: Boolean,
        default: false,
    },
    prefixIcon: {
        type: String,
    },
    value: {
        type: String,
    },
    xxx: {
        type: String,
    },
});

/**
 * @tip
 * @param {string} id - needTracker订单id
 * @param {string} name - 用户名
 */
onMounted(() => {
    // eslint-disable-next-line no-use-before-define
    setNativeInputValue();
});

const emits = defineEmits(['input']);

const size = ref(props.size);

const inputRef = ref();

const handleInput = (e) => {
    emits('input', e.target.value);
    console.log('emit');
};

const nativeInputValue = computed(() => (props.value === null || props.value === undefined ? '' : String(props.value)));

watchEffect(nativeInputValue, () => {
    // eslint-disable-next-line no-use-before-define
    setNativeInputValue();
});

const setNativeInputValue = () => {
    const input = inputRef.value;
    if (!input) return;
    if (input.value === nativeInputValue.value) return;
    input.value = props.value;
};

</script>
