@import "@/assets/styles/mixins.scss";

[class*="hx-col-"]{
    float: left;
    box-sizing: border-box;
}

.#{$namespace}-col-0{
    display: none;
}

@for $i from 0 through 24 {
    .#{$namespace}-col-#{$i} {
      width: 1 / 24 * $i * 100%;
    }
    .#{$namespace}-col-offset-#{$i} {
        margin-left: (1 / 24 * $i * 100) * 1%;
    }
}