<template>
<div>
    <ul>
        <li v-for="item in list">{{ item.name }}</li>
    </ul>
</div>
</template>

<script setup>
import axios from 'axios';
import { defineProps, ref } from "vue";
import useList from '../hooks/useList'

// const props = defineProps({
//     span: Number,
// });
// const list = ref([])

const listReq = () => {
    return new Promise((resolve, reject) => {
        const res = [{
                name:'zhangsan',
            },{
                name: 'lili'
            }];
        resolve(res)
    })
}

listReq()

const {list, getList} = useList(listReq)

getList()

// console.log('----------', testval)

// const span = ref(props.span);
</script>

<style lang="scss"></style>
