<template>
  <div>
    <!-- <Row justify="center" type="flex">
        <Col span=8 offset=8>col8</Col>
        <Col span=8>col8</Col>
    </Row>

    <Alert type="success" title="成功提示" /> -->

    <p>{{txt}}</p>
    <p>{{state.ivalue}}</p>

    <Input prefixIcon="hx-icon-search" :value="txt" />

    <router-view></router-view>
  </div>
</template>

<script setup>
// import Row from './components/row/Row.vue'
// import Col from './components/col/Col.vue'
// import Alert from './components/alert/index.vue'
import { onMounted, ref, reactive } from 'vue';
import Input from './components/input/index.vue';
// export {default as Row} from './components/row/Row.vue'

const txt = ref('12');

const state = reactive({
    ivalue: '2',
});

/**
 * @tip
 * @param {string} id - needTracker订单id
 * @param {string} name - 用户名
 */
onMounted(() => {
    console.log('mounted', process.env.API_HOST);
    // text.value = 'row'
});

</script>
