@import "../../assets/styles/var.scss";
@import "config";

@mixin b($block) {
    $B: $namespace + "-" + $block !global;
    .#{$B} {
        @content;
    }
}

@mixin utils-clearfix {
    $selector: &;

    @at-root {
        #{$selector}::before,
        #{$selector}::after {
            display: table;
            content: "";
        }
        #{$selector}::after {
            clear: both;
        }
    }
}

@mixin when($state) {
    @at-root {
        &.#{$state-prefix + $state} {
            @content;
        }
    }
}

@mixin m($modifier) {
    $selector: &;
    $currentSelector: "";
    @each $unit in $modifier {
        $currentSelector: #{$currentSelector +
            & +
            $modifier-separator +
            $unit +
            ","};
    }

    @at-root {
        #{$currentSelector} {
            @content;
        }
    }
}

@mixin e($element) {
    $E: $element !global;
    $selector: &;
    $currentSelector: "";
    @each $unit in $element {
      $currentSelector: #{$currentSelector + "." + $B + $element-separator + $unit + ","};
    }
  
    @if hitAllSpecialNestRule($selector) {
      @at-root {
        #{$selector} {
          #{$currentSelector} {
            @content;
          }
        }
      }
    } @else {
      @at-root {
        #{$currentSelector} {
          @content;
        }
      }
    }
}

@mixin scroll-bar {
    $--scrollbar-thumb-background: #b4bccc;
    $--scrollbar-track-background: #fff;
  
    &::-webkit-scrollbar {
      z-index: 11;
      width: 6px;
  
      &:horizontal {
        height: 6px;
      }
  
      &-thumb {
        border-radius: 5px;
        width: 6px;
        background: $--scrollbar-thumb-background;
      }
  
      &-corner {
        background: $--scrollbar-track-background;
      }
  
      &-track {
        background: $--scrollbar-track-background;
  
        &-piece {
          background: $--scrollbar-track-background;
          width: 6px;
        }
      }
    }
  }
